#fixed-button {
    float: left;
    background-color: red; 
    height: 50px;
    width: 100px;
}

#next-button {
    float: right; 
    background-color: green; 
    height: 50px;
    width: 100px;
}

#input {
    width: 200px; 
}